<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h2>Sign Up</h2>

    <!-- show errors -->
    {% if form.errors %}
    <ul style="color: red">
      {% for field, errors in form.errors.items %} {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %} {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <p>{{ form.role.label_tag }} {{ form.role }}</p>

      <p>{{ form.username.label_tag }} {{ form.username }}</p>

      <p>{{ form.email.label_tag }} {{ form.email }}</p>

      <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>

      <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>

      <p>{{ form.name.label_tag }} {{ form.name }}</p>

      <p>{{ form.profile_info.label_tag }} {{ form.profile_info }}</p>

      <button type="submit">Sign Up</button>
    </form>

    <a href="{% url 'login' %}">Already have an account? Login</a>
  </body>
</html>
