<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h2>Welcome, {{ user.username }}</h2>

    {% if user.admin %}
    <p>You are logged in as an <strong>Admin</strong>.</p>
    {% elif user.maid %}
    <p>You are logged in as a <strong>Maid</strong>.</p>
    {% endif %}

    <p>This is the dashboard.</p>
    <form action="{% url 'logout' %}" method="post" style="display: inline">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>

    <form
      action="{% url 'delete_account' %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" style="color: red">Deactivate Account</button>
    </form>

    <form method="post" action="{% url 'remove_account' %}">
      {% csrf_token %}
      <button type="submit" style="color: red">
        Permanently Remove Account
      </button>
    </form>
  </body>
</html>
